DB_USER=postgres
DB_PASS=change_me
DB_NAME=dragon

SPRING_DATASOURCE_PASSWORD=change_me
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dragon
SPRING_DATASOURCE_USERNAME=postgres
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_USER_AGENT=your_app_name /u/your_username
REDDIT_SUBREDDIT=your_subreddit

RABBIT_USER=admin
RABBIT_PASS=admin
